.cell[b-scrue1budg] {
    height: 50px;
    width: 50px;
    background-color: rgba(137, 148, 153, 0.8);
    transition: all ease 0.3s;
}
.cell.covered[b-scrue1budg] {
    filter: brightness(70%);
    cursor: pointer;
}
.cell.covered:hover[b-scrue1budg] {
    filter: brightness(40%);
}
.cell.uncovered[b-scrue1budg] {
    background-color: rgba(137, 148, 153, 0.45);
    cursor: default;
}
.cell.uncovered.one[b-scrue1budg] { /* One Adjacent */
    background-color: rgba(137, 148, 153, 0.45);
}
.cell.uncovered.two[b-scrue1budg] { /* Two Adjacent */
    background-color: rgba(137, 148, 153, 0.45);
}
.cell.uncovered.three[b-scrue1budg] { /* Three Adjacent */
    background-color: rgba(137, 148, 153, 0.45);
}
.cell.uncovered.fourplus[b-scrue1budg] { /* Four or more Adjacent */
    background-color: rgba(137, 148, 153, 0.45);
}