.ModeUI[b-owwulud4a8] {
    padding: 1rem;
}

.btn.mode[b-owwulud4a8] {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    padding-right: 1rem;
    padding-left: 1rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    border: 2px solid rgba(0,0,0,0.7);
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    transition: all ease 0.5s;
}
.btn.mode.unselected[b-owwulud4a8] {
    background-color: transparent;
    color: rgba(0,0,0,0.7);
}
.btn.mode.selected[b-owwulud4a8],
.btn.mode:hover[b-owwulud4a8] {
    background-color: rgba(0,0,0,0.7);
    color: rgba(255,255,255,0.9);
}