@using minesweeper.Views.Minesweeper.Components.Game;
@{
    ViewData["Title"] = "minesweeper";
}

<div class="minesweeper">
    <component type="typeof(GameUI)" render-mode="ServerPrerendered" />
</div>
