@{
    ViewData["Title"] = "minesweeper";
}

<div class="minesweeper">
    <div class="d-flex align-items-center flex-column pe-4 ps-4">
        <div class="game">
            
        </div>
    </div>
</div>
