/* Poppings Font */
@font-face {
  font-family: 'Poppins';
  src: url('~/lib/font/Poppins/Poppins-Medium.ttf');
  font-weight: normal;
  font-style: normal;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  /*font-family: 'Poppins';*/ 
  margin-bottom: 60px;
}



/* Navbar */
.navbar-expand-sm .navbar-nav .nav-link {
    padding-right: 1rem;
    padding-left: 1rem;
    font-size: larger;
}