/* 
   Samuel Adamson
   Site Styling
*/

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    font-family: 'Poppins';
}



/* Navbar */
.navbar-expand-sm .navbar-nav .nav-link {
    padding-right: 1rem;
    padding-left: 1rem;
    font-size: larger;
    text-align: center;
}


/* Footer */
.footer {
    position: relative!important;
}

.footer .foot-tag {
    color: rgba(255,255,255,0.8);
    background-color: rgba(0,0,0,0.2);
}

/* About Page */
.about {
    max-width: 1024px;
    margin-left: auto; 
    margin-right: auto;
}
.about img {
    width: 70%;
    max-width: 496px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1vw;
    margin-bottom: calc(1rem + 1vw);
}
.about a {
    color: rgba(0,0,0,0.7);
}

/* Grow Animation */
.grow{
    transform: scale(1);
    transition: all ease 0.3s;
}
.grow:hover {
    transform: scale(1.05);
}

/* Minesweeper / play page*/
.minesweeper {
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
}