@*
	Timer UI Component
	Samuel Adamson
*@
@using Microsoft.AspNetCore.Components.Web;
@using minesweeper.Models.CustomEventArgs;
@using System.Threading;
@implements IDisposable;

<div class="TimerUI">
	<h3 class="display-6 time">@timeElapsed</h3>
</div>


@code {
	// Declare timer
	Timer gameTimer;
	int gameTime, hours, minutes, seconds;
	string timeElapsed;


	/// <summary>
	/// Constructor
	/// </summary>
	public TimerUI()
	{
		// Initialize time string
		timeElapsed = "00:00:00";
		SetTimer(); // Set to 0
	}

	/// <summary>
	/// On Initialize
	///		- Takes place after constructor
	/// </summary>
	protected override void OnInitialized()
	{
		StartTimer();
	}

	/// <summary>
	/// Create a new timer with duetime
	/// </summary>
	/// <param name="dueTime"></param>
	private void NewTimer(int dueTime)
	{
		gameTimer = new Timer(OnGameTimerTick, null, dueTime, 1000);
	}

	/// <summary>
	/// Callback for timer
	/// </summary>
	/// <param name="stateInfo"></param>
	private void OnGameTimerTick(Object? stateInfo)
	{	
		// Update gametime
		gameTime++;
		hours = gameTime / 3600;
		minutes = gameTime / 60;
		seconds = gameTime % 60;

		// Set elapsed time and update state
		SetTimeElapsed();
	}

	/// <summary>
	/// Update time elapsed
	/// </summary>
	private void SetTimeElapsed()
	{
		timeElapsed = $"{hours.ToString("D2")}:{minutes.ToString("D2")}:{seconds.ToString("D2")}";
		InvokeAsync(() => { StateHasChanged(); });
	}

	/// <summary>
	/// Set timer to 00:00:00
	/// </summary>
	private void SetTimer()
	{
		// Reset values
		gameTime = 0;
		hours = 0;
		minutes = 0;
		seconds = 0;
	}

	/// <summary>
	/// Stop Timer
	/// </summary>
	public void StopTimer()
	{
		Dispose();
	}

	/// <summary>
	/// Start timer
	/// </summary>
	public void StartTimer()
	{
		NewTimer(500);
	}

	/// <summary>
	/// Reset Timer to 00:00:00 and update elapsed time
	/// </summary>
	public void ResetTimer()
	{
		// Set timer values and set elapsed time
		SetTimer();
		SetTimeElapsed();
	}

	/// <summary>
	/// Dispose - Idisposable
	/// </summary>
	public void Dispose()
	{
		gameTimer?.Dispose();
	}
}
