@*
	Cell UI Component
	Samuel Adamson
*@
@using Microsoft.AspNetCore.Components.Web;

@* Cell *@
<div oncontextmenu="return false;" @onmouseup="HandleMouseUp" class="cell @CellStatus m-1 p-1">
	
</div>

@code {
	// Clicked vs not clicked
	string CellStatus = "covered";
	bool covered = true;

	// Flagged vs not flagged
	bool flagged = false;

	// Events
	public event EventHandler<EventArgs> Uncover; // Uncover event
	public event EventHandler<EventArgs> Flag; // Flag event
	public event EventHandler<EventArgs> Unflag; // Unflag event

	/// <summary>
	/// Handle Mouse
	/// </summary>
	/// <param name="args"></param>
	private void HandleMouseUp(MouseEventArgs args)
	{
		if(covered) // First ensure that button is covered
		{
			if(args.Button == 0) // Left Click
			{
				// Raise uncover event

				// Set cell status
				CellStatus = "uncovered";
				covered = false;
			}
			else if(args.Button == 2) // Right Click
			{
				if(!flagged)
				{
					// Raise flag event
					// Update flagged if we have flags left
				}
				else
				{
					// Raise unflag event
				}
			}	
		}
	}
}
