@*
	Game UI Component
	Samuel Adamson
*@
@using minesweeper.Views.Shared.Components
@using Models;

<div Class="GameUI text-center">
	<ModeUI />
	<div class="Grid">
		
	</div>
	<TimerUI />
</div>

@code {
	// Parameter
	ModeUI modeSelector = new ModeUI();
}
