@*
	Modal UI Component
		- Display game end message
	Samuel Adamson
*@

<div class="Modal">  
	<div class="modal-content">

	</div>
</div>

@code {
	[Parameter] public string ModalStatus { get; set; }
	[Parameter] public string ModalContent { get; set; }



}
