.cell {
    height: 50px;
    width: 50px;
    background-color: rgba(137, 148, 153, 0.8);
    transition: all ease 0.3s;
}
.cell.covered {
    filter: brightness(70%);
    cursor: pointer;
}
.cell.covered:hover {
    filter: brightness(40%);
}
.cell.uncovered {
    background-color: rgba(137, 148, 153, 0.45);
    cursor: default;
}
.cell.uncovered.one { /* One Adjacent */
    background-color: rgba(137, 148, 153, 0.45);
}
.cell.uncovered.two { /* Two Adjacent */
    background-color: rgba(137, 148, 153, 0.45);
}
.cell.uncovered.three { /* Three Adjacent */
    background-color: rgba(137, 148, 153, 0.45);
}
.cell.uncovered.fourplus { /* Four or more Adjacent */
    background-color: rgba(137, 148, 153, 0.45);
}