@*
	Cell UI Component
	Samuel Adamson
*@
@using Microsoft.AspNetCore.Components.Web;
@using minesweeper.Models;
@using minesweeper.Models.CustomEventArgs;

<div oncontextmenu="return false;" @onmouseup="HandleMouseUp" 
	class="cell @CellStatus" style="--mode: var(--@Mode)">
	<h3> @CellContent </h3>
</div>

@code {
	// Parameters
	[Parameter] public string Mode { get; set; } // Set mode -- Responsive styling depends on mode
	[Parameter] public Cell Cell_ { get; set; } // Bind cell logic


	// Clicked vs not clicked
	string CellStatus = "covered";
	string CellContent = string.Empty;


	/// <summary>
	/// Called after initialization
	/// </summary>
	protected override void OnInitialized()
	{
	
	}

	/// <summary>
	/// Called when parameters are set
	/// </summary>
	protected override void OnParametersSet()
	{
		// When new parameters set, reset cell
		ResetUI();
	}


	/// <summary>
	/// Handle Mouse
	/// </summary>
	/// <param name="args"></param>
	private void HandleMouseUp(MouseEventArgs args)
	{
		if(Cell_.Covered) // First ensure that button is covered
		{
			if(args.Button == 0) // Left Click
			{
				string adjacent = Cell_.Uncover(); // Uncover Cell
				UncoverUI(adjacent);
			}
			else if(args.Button == 2) // Right Click
			{
				if(Cell_.Flagged) { // Unflag cell 
					Cell_.Unflag();
					ResetUI();
				}
				else { // Flag cell
					Cell_.Flag();
					FlagUI();
				}
			}	
		}
	}


	/// <summary>
	/// Uncover UI side implementation
	/// </summary>
	/// <param name="adjacentNum"> Number of Adjacent Cells </param>
	private void UncoverUI(string adjacentNum) {
		CellStatus = $"uncovered {adjacentNum}";
		if(Cell_.Mine) { // Cell is a mine
				// TODO
		}
		else { // Cell is not a mine, show number of adjacent
			CellContent = Cell_.Adjacent != 0 ? Cell_.Adjacent.ToString() : string.Empty;	
		}
	}

	/// <summary>
	/// Flag Cell on UI Side
	/// </summary>
	private void FlagUI()
	{
		CellStatus = "covered flag";
		CellContent = "\u2691";
	}

	/// <summary>
	/// Reset Cell UI
	/// </summary>
	private void ResetUI() 
	{
		CellStatus = "covered";
		CellContent = string.Empty;
	}
}
