@*
	Grid UI Component
	Samuel Adamson
*@
@using minesweeper.Models;
@using minesweeper.Models.CustomEventArgs;

<div class="grid-wrapper">
	<div class="cover @CoverStatus">
		<h3>@CoverContent</h3>
	</div>
	<div class="grid">
	@for(int i = 0; i < Game_.NRows; i++)
		{
			<div class="cell-row"> 
			@for(int j = 0; j < Game_.NCols; j++)
			{
				<CellUI Cell_=@Game_.Grid[i,j] Mode=@Game_.Mode />
			}
			</div>
		}
	</div>
</div>

@code {
	[Parameter] public Game Game_ { get; set; } // Game class associated with this grid

	// Cover/Loader status and content
	string CoverStatus = string.Empty;
	string CoverContent = string.Empty;

	/// <summary>
	/// Pause UI
	/// </summary>
	public void OnPause()
	{
		CoverStatus = "active";
		CoverContent = "paused";
	}

	/// <summary>
	/// Unpause UI
	/// </summary>
	public void OnUnpause()
	{
		CoverStatus = string.Empty;
		CoverContent = string.Empty;
	}
}
