/*Timer UI Styling*/
.TimerUI {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.timer-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
h3.display-6.time {
    padding-left: 0;
}
.btn.timer-btn {
    height: fit-content;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin-left: 1rem;
    margin-top: auto;
    margin-bottom: auto;
    font-size: larger;
    border: 2px solid rgba(0,0,0,0.7);
    color: rgba(0,0,0,0.7);
    transition: all ease 0.5s;
}
.btn.timer-btn:hover {
    background-color: rgba(0,0,0,0.7);
    color: rgb(255,255,255);
}