@*
	Cell UI Component
	Samuel Adamson
*@
@using Microsoft.AspNetCore.Components.Web;
@using minesweeper.Models;
@using minesweeper.Models.CustomEventArgs;

<div oncontextmenu="return false;" @onmouseup="HandleMouseUp" 
	class="cell @CellStatus" style="--mode: var(--@Mode)">
	<h3> @CellContent </h3>
</div>

@code {
	// Parameters
	[Parameter] public string Mode { get; set; } // Set mode -- Responsive styling depends on mode
	[Parameter] public Cell Cell_ { get; set; } // Bind cell logic


	// Clicked vs not clicked
	string CellStatus = "covered";
	string CellContent = string.Empty;

	/// <summary>
	/// Called when parameters are set
	/// </summary>
	protected override void OnParametersSet()
	{
		// When new parameters set, reset cell/resubscribe event
		ResetUI(Cell_.AdjacentStr);
		Cell_.LogicUncoverCell += HandleUncoverByLogic;
	}


	/// <summary>
	/// Handle Mouse
	/// </summary>
	/// <param name="args"></param>
	private void HandleMouseUp(MouseEventArgs args)
	{
		if(Cell_.Covered) // First ensure that button is covered
		{
			if(args.Button == 0) // Left Click
			{
				Cell_.UncoverByUser(); // Uncover Cell
				UncoverUI(Cell_.AdjacentStr);
			}
			else if(args.Button == 2) // Right Click
			{
				if(Cell_.Flagged) { // Unflag cell 
					Cell_.Unflag();
					UnflagUI();
				}
				else { // Flag cell
					Cell_.Flag();
					FlagUI();
				}
			}	
		}
	}


	/// <summary>
	/// Uncover UI side implementation
	/// </summary>
	/// <param name="adjacentNum"> Number of Adjacent Cells </param>
	private void UncoverUI(string adjacentNum) {
		if(Cell_.Mine) { // Cell is a mine
			CellStatus = "mine";
			CellContent = string.Empty;
		}
		else { // Cell is not a mine, show number of adjacent
			CellStatus = $"uncovered {adjacentNum}";
			CellContent = Cell_.Adjacent != 0 ? Cell_.Adjacent.ToString() : string.Empty;	
		}
	}

	/// <summary>
	/// Flag Cell on UI Side
	/// </summary>
	private void FlagUI()
	{
		CellStatus = "covered flag";
		CellContent = "\u2691";
	}

	/// <summary>
	/// Unflag Cell on UI Side
	/// </summary>
	private void UnflagUI()
	{
		CellStatus = "covered";
		CellContent = string.Empty;		
	}

	/// <summary>
	/// Reset Cell UI
	/// </summary>
	private void ResetUI(string adjacentNum) 
	{
		if(Cell_.Covered) { // Covered
			CellStatus = Cell_.Flagged ? "covered flag" : "covered";
			CellContent = Cell_.Flagged ? "\u2691" : string.Empty;
		} 
		else { // Uncovered
			CellStatus = Cell_.Mine ? "mine" : $"uncovered {adjacentNum}" ;
			CellContent = Cell_.Adjacent != 0 ? Cell_.Adjacent.ToString() : string.Empty;
		}
	}

	/// <summary>
	/// Uncover cell by logic and not click
	/// </summary>
	/// <param name="sender"> Sender cell </param>
	/// <param name="ce"> Cell Event Args </param>
	private void HandleUncoverByLogic(object sender, CellEventArgs ce)
	{
		UncoverUI(((Cell)sender).AdjacentStr);
		StateHasChanged();
	}
}
