/* _content/minesweeper/Views/Shared/Components/CellUI.razor.rz.scp.css */
.cell[b-scrue1budg] {
    height: 50px;
    width: 50px;
    background-color: rgba(137, 148, 153, 0.8);
    transition: all ease 0.3s;
}
.cell.covered[b-scrue1budg] {
    filter: brightness(70%);
    cursor: pointer;
}
.cell.covered:hover[b-scrue1budg] {
    filter: brightness(40%);
}
.cell.uncovered[b-scrue1budg] {
    background-color: rgba(137, 148, 153, 0.45);
    cursor: default;
}
.cell.uncovered.one[b-scrue1budg] { /* One Adjacent */
    
}
.cell.uncovered.two[b-scrue1budg] { /* Two Adjacent */

}
.cell.uncovered.three[b-scrue1budg] { /* Three Adjacent */

}
.cell.uncovered.fourplus[b-scrue1budg] { /* Four or more Adjacent */

}
/* _content/minesweeper/Views/Shared/Components/GameUI.razor.rz.scp.css */
/* _content/minesweeper/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-xjwvjl0fa8] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-xjwvjl0fa8] {
  color: #0077cc;
}

.btn-primary[b-xjwvjl0fa8] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-xjwvjl0fa8], .nav-pills .show > .nav-link[b-xjwvjl0fa8] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-xjwvjl0fa8] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-xjwvjl0fa8] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-xjwvjl0fa8] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-xjwvjl0fa8] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-xjwvjl0fa8] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
