.grid-wrapper {
    position: relative;
    box-sizing: border-box;
}
.grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.cover {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 0;
    width: 0;
    background-color: rgb(127, 138, 143);
    color: rgb(255,255,255);
}
.cover.active {
    z-index: 3;
    width: 100%;
    height: 100%;
}
.loader {
    
}
.loader.active {

}
.cover h3 {
    margin: 0;
    padding: 0;
}
.cell-row {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    width: 100%;
    height: 100%;
}

/*Responsiveness*/
@media (max-width: 460px) {
    .grid-wrapper {
        writing-mode: vertical-rl;
        white-space: nowrap;
        transform: rotate(180deg);
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    .cover h3 {
        transform: rotate(90deg);
    }
}