/* _content/minesweeper/Views/Minesweeper/Components/CellUI.razor.rz.scp.css */
/*Cell Styling*/
.cell[b-dkutulbe5c] {
    background-color: rgba(137, 148, 153, 0.8);
    transition: all ease 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cell.covered[b-dkutulbe5c] {
    filter: brightness(70%);
    cursor: pointer;
}
.cell.covered:hover[b-dkutulbe5c] {
    filter: brightness(40%);
}
.cell.uncovered[b-dkutulbe5c] {
    background-color: rgba(137, 148, 153, 0.45);
    cursor: default;
}
.cell.uncovered.one[b-dkutulbe5c] { /* One Adjacent */
    background-color: rgba(154, 205, 50, 0.9);
}
.cell.uncovered.two[b-dkutulbe5c] { /* Two Adjacent */
    background-color: rgba(218, 175, 32, 0.9);
}
.cell.uncovered.three[b-dkutulbe5c] { /* Three Adjacent */
    background-color: rgba(255, 127, 80, 0.9);
}
.cell.uncovered.fourplus[b-dkutulbe5c] { /* Four or more Adjacent */
    background-color: rgba(255, 40, 50, 0.9);
}

/*Cell Content Styling*/
.cell h3[b-dkutulbe5c] {
    color: rgba(0,0,0,0.8);
    margin: 0;
    padding: 0;
    font-size: 3vmin;
}

/* Cell Sizing/Responsiveness*/
.cell[b-dkutulbe5c] {
    /* Different cell options for height/width */
    --easy: 2.5vw;
    --medium: 2vw;
    --hard: 1.5vw;
    /* Height and width set by mode */
    height: var(--mode);
    width: var(--mode);
    min-height: 20px;
    min-width: 20px;
    /*Margin does not change with mode*/
    margin: 0.25vmax;
}
@media (max-width: 460px) {
    .cell[b-dkutulbe5c] {
        transform: rotate(-90deg);
    }
}
/* _content/minesweeper/Views/Minesweeper/Components/Game.razor.rz.scp.css */
.Game[b-oi6uh6zmgk] {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    transition: all ease 0.3s;
}
.Grid[b-oi6uh6zmgk] {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.cell-row[b-oi6uh6zmgk] {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    width: 100%;
    height: 100%;
}

/*Responsiveness*/
@media (max-width: 460px) {
    .Grid[b-oi6uh6zmgk] {
        transform: rotate(90deg);
    }
}
/* _content/minesweeper/Views/Minesweeper/Components/ModeUI.razor.rz.scp.css */
.ModeUI[b-8mb7qyzdep] {
    padding: 1rem;
}

.btn.mode[b-8mb7qyzdep] {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    padding-right: 1rem;
    padding-left: 1rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    transition: all ease 0.5s;
}
.btn.mode.unselected[b-8mb7qyzdep] {
    background-color: transparent;
    color: rgba(0,0,0,0.7);
}
.btn.mode.selected[b-8mb7qyzdep],
.btn.mode:hover[b-8mb7qyzdep] {
    background-color: rgba(0,0,0,0.7);
    color: rgb(255,255,255);
}
/* _content/minesweeper/Views/Minesweeper/Components/TimerUI.razor.rz.scp.css */
/*Timer UI Styling*/
.TimerUI[b-g4r5ful6hn] {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.timer-row[b-g4r5ful6hn] {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
h3.display-6.time[b-g4r5ful6hn] {
    padding-left: 0;
}
.btn.timer-btn[b-g4r5ful6hn] {
    height: fit-content;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin-left: 1rem;
    margin-top: auto;
    margin-bottom: auto;
    font-size: larger;
    border: 2px solid rgba(0,0,0,0.7);
    color: rgba(0,0,0,0.7);
    transition: all ease 0.5s;
}
.btn.timer-btn:hover[b-g4r5ful6hn] {
    background-color: rgba(0,0,0,0.7);
    color: rgb(255,255,255);
}
/* _content/minesweeper/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-xjwvjl0fa8] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-xjwvjl0fa8] {
  color: #0077cc;
}

.btn-primary[b-xjwvjl0fa8] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-xjwvjl0fa8], .nav-pills .show > .nav-link[b-xjwvjl0fa8] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-xjwvjl0fa8] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-xjwvjl0fa8] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-xjwvjl0fa8] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-xjwvjl0fa8] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-xjwvjl0fa8] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
